bin/
obj/
Debug/
Release/
x64/
x86/
bld/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/

*.vspscc
*.vssscc
*.publishsettings


appsettings.json
appsettings.*.json
**/appsettings.json
**/appsettings.*.json



.DS_Store
Thumbs.db



project.lock.json
project.fragment.lock.json
artifacts/


*.cache
*.tmp
*.temp
